<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Airline</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="carousel-inner">

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Ngay sinh</th>
            <th>Dia Chi</th>
        </tr>
        <tr th:each = "airline: ${allAirlines}">
            <td th:text="${airline.airport_code}"></td>
            <td th:text=${airline.airport_name}></td>
            <td th:text=${airline.flights_cancelled}></td>
            <td th:text=${airline.statistics_flights_ontime}></td>
        </tr>

    </table>
</div>

</body>
</html>