<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Cities</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="carousel-inner">

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Ngay sinh</th>
            <th>Dia Chi</th>
        </tr>
             <tr th:each = "student: ${allStudents}">
                <td th:text="${student.id}"></td>
                <td th:text=${student.ten}></td>
                <td th:text=${student.ngaySinh}></td>
                <td th:text=${student.diaChi}></td>
             </tr>

    </table>
</div>

</body>
</html>